<!-- templates/products/post_product.html -->
{% extends 'base.html' %}

{% block title %}Post a Product{% endblock %}

{% block header %}Product Posting Form{% endblock %}


{% block content %}

{% include 'nav.html' %}

<br></br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>


    <!-- `this have to be reverse to the template dont forget it and also make ur own form types and styles this eill help u to change more and edit more to custmize make the fnalist part -->




    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Post you Ads</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Post you Ads</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <h1>Create Post</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</form>
{% endblock %}




