{% extends "base.html" %}
{% load static %}

{% block title %}Profile Page{% endblock title %}
{% block content %}

{% include 'nav.html' %}

<div class="page-header" style="background: url({% static 'assets/img/banner1.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Profile Settings</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home /</a></li>
                        <li class="current">Profile Settings</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="content" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
                <aside>
                    <div class="sidebar-box">
                        <div class="user">
                            <figure>
                                <a href="#"><img src="{{ user.profile.avatar.url }}" alt=""></a>
                            </figure>
                            <div class="usercontent">
                                <h3>Hello!{{user.username}}</h3>
                            </div>
                        </div>
                        <nav class="navdashboard">
                            <ul>
                                <li>
                                    <a href="{% url 'myapp:Dash' %}">
                                        <i class="lni-dashboard"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'users-profile' %}">
                                        <i class="lni-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'myapp:my_ads' %}">
                                        <i class="lni-layers"></i>
                                        <span>My Ads</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'myapp:payment' %}">
                                        <i class="lni-wallet"></i>
                                        <span>Payments</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'myapp:Privacy' %}">
                                        <i class="lni-star"></i>
                                        <span>Privacy Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <i class="lni-enter"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">Advertisement</h4>
                        <div class="add-box">
                            <img class="img-fluid" src="#" alt="">
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div class="page-content">
                    <div class="inner-box">
                        <div class="dashboard-box">
                            <h2 class="dashbord-title">Profile Settings</h2>
                        </div>
                        {% if user_form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in user_form.errors.items %}
                                <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        <div class="form-content">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-5">
                                        <div class="form-group mb-3">
                                            <label class="control-label">Username</label>
                                            {{ user_form.username }}
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Email</label>
                                            {{ user_form.email }}
                                        </div>

                                        <div class="form-group">
                                            <a href="{% url 'password_change' %}">Change Password</a>
                                            <hr>
                                            <label class="small mb-1">Change Avatar:</label>
                                            {{ profile_form.avatar }}
                                        </div>
                                        <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                                    </div>
                                </div>
                                <br><br>
                                <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                                <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}