{% extends "base.html" %}

{% load static %}

{% block title %}Prodact Details{% endblock %}

{% block content %}

{% include "nav.html" %}


<div class="page-header" style="background: url({% static 'assets/img/banner1.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home /</a></li>
                        <li class="current">Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-padding">
    <div class="container">

        <div class="product-info row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="ads-details-wrapper">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="product-img">
                                <img class="img-fluid" src="{{ product.image1.url }}" alt="{{ product.title }} Image 1">
                            </div>
                            <span class="price">ETB{{ product.price }}</span>

                        </div>
                        <div class="item">
                            <div class="product-img">
                                {% if product.image2 %}
                                <img class="img-fluid" src="{{ product.image2.url }}" alt="{{ product.title }} Image 2">
                                {% endif %}
                            </div>
                            <span class="price">ETB{{ product.price }}</span>
                        </div>

                    </div>
                </div>
                <div class="details-box">
                    <div class="ads-details-info">
                        <h2>{{ product.title }}</h2>
                        <!-- <div class="details-meta">
                            <span><a href="#"><i class="lni-alarm-clock"></i> 7 Jan, 10:10 pm</a></span>
                            <span><a href="#"><i class="lni-map-marker"></i> New York</a></span>
                            <span><a href="#"><i class="lni-eye"></i> 299 View</a></span>
                        </div> -->
                        <p class="mb-4">{{ product.description }}</p>
                        <h4 class="title-small mb-3">Specification:</h4>
                        <ul class="list-specification">
                            <li><i class="lni-check-mark-circle"></i>{{ product.description }}</li>
                            <li><i class="lni-check-mark-circle"></i>{{ product.product_type }}</li>
                            <li><i class="lni-check-mark-circle"></i> {{ product.quantite }}</li>
                            <li><i class="lni-check-mark-circle"></i> {{ product.color }}</li>
                        </ul>
                        <p class="mb-4">{{ product.information }}
                        </p>
                    </div>
                    <div class="tag-bottom">
                        <div class="float-left">
                            <ul class="advertisement">
                                <li>
                                    <p><strong><i class="lni-folder"></i> Categories:</strong>
                                        <a href="#">{{ product.category.name }}</a>
                                    </p>
                                </li>

                                <li>
                                    <p><strong><i class="lni-package"></i> Brand:</strong> <a href="#">{{ product.title }}</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="float-right">
                            <div class="share">
                                <div class="social-link">
                                    <a class="facebook" data-toggle="tooltip" data-placement="top" title="facebook"
                                        href="#"><i class="lni-facebook-filled"></i></a>
                                    <a class="twitter" data-toggle="tooltip" data-placement="top" title="twitter"
                                        href="#"><i class="lni-twitter-filled"></i></a>
                                    <a class="linkedin" data-toggle="tooltip" data-placement="top" title="linkedin"
                                        href="#"><i class="lni-linkedin-fill"></i></a>
                                    <a class="google" data-toggle="tooltip" data-placement="top" title="google plus"
                                        href="#"><i class="lni-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">

                <aside class="details-sidebar">
                    <div class="widget">
                        <h4 class="widget-title">Ad Posted By</h4>
                        <div class="agent-inner">
                            <div class="agent-title">
                                <div class="agent-photo">
                                    <a href="#"><img src="{{ user.profile.avatar.url }}" alt=""></a>
                                </div>
                                <div class="agent-details">
                                    <h3><a href="#">{{ user.username}}</a></h3>
                                    <span><i class="lni-phone-handset"></i>{{ product.location }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">More Ads From Seller</h4>
                        <ul class="posts-list">
                            {% for product in products %}
                            <li>
                                <div class="widget-thumb">
                                    <a href="#"><img src="{{ product.image1.url }}" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <h4><a href="{% url 'myapp:product_detail' product.id %}">{{ product.title }}</a>
                                    </h4>
                                    <div class="meta-tag">
                                        <span>
                                            <a href="#"><i class="lni-user"></i> John Smith</a>
                                        </span>
                                        <span>
                                            <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                        </span>
                                        <span>
                                            <a href="#"><i class="lni-tag"></i> {{ product.category }}</a>
                                        </span>
                                    </div>
                                    <h4 class="price">ETB{{ product.price }}</h4>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </aside>

            </div>
        </div>

    </div>
</div>


<section class="subscribes section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="subscribes-inner">
                    <div class="icon">
                        <i class="lni-pointer"></i>
                    </div>
                    <div class="sub-text">
                        <h3>Subscribe to Newsletter</h3>
                        <p>and receive new ads in inbox</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <form>
                    <div class="subscribe">
                        <input class="form-control" name="EMAIL" placeholder="Enter your Email" required=""
                            type="email">
                        <button class="btn btn-common" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}